*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#mealWrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
 #meal{
     margin: 2.4rem 0;
 }
 .mealItem{
     margin: 20px;
     overflow: hidden;
     display: grid;
     margin: 2rem 0;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
}
.mealImg{
    width: 100%;
    display: block;
}
.notFound{
    grid-template-columns: 1fr!important;
    color: orange;
    font-weight: 600;
    width: 100%;
    font-size: 1.8rem;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
 #mealDetails{
     margin: 0 auto;
     text-align: left;
     
 }
 body{
     background-color: honeydew;
 }